@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}


* {
  @apply m-0 p-0 box-border
}

html {
  @apply scrollbar-thin scrollbar-track-slate-200 scrollbar-thumb-blue-400 hover:scrollbar-thumb-blue-500 active:scrollbar-thumb-blue-600;
  scroll-behavior: smooth;
}

[data-theme='dark'] {
  @apply bg-zinc-900 text-[#dee4e7]
}

[data-theme='light'] {
  @apply bg-[#dee4e7] text-zinc-800
}

@layer utilities {
  .btn-light-theme {
    @apply bg-transparent text-white hover:bg-indigo-600 rounded-md cursor-pointer bg-indigo-500
  }

  .btn-dark-theme {
    @apply bg-transparent text-black hover:bg-teal-600 rounded-md cursor-pointer bg-teal-500
  }
}
